SUBSYSTEM=="block", KERNEL=="nvme0n1p1", ENV{UDISKS_IGNORE}="1"
SUBSYSTEM=="block", KERNEL=="nvme0n1p2", ENV{UDISKS_IGNORE}="1"
SUBSYSTEM=="block", KERNEL=="nvme0n1p4", ENV{UDISKS_IGNORE}="1"
SUBSYSTEM=="block", KERNEL=="nvme1n1p1", ENV{UDISKS_IGNORE}="1"
